.section-rest-menu {
    padding: 50px;
}

.section-rest-menu > .container {
    margin-bottom: 50px;
}

.rest-menu-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-title-cont {
    text-align: center;
    margin: 40px auto;
}

.menu-title {
    font-weight: bold;
}

.menu-brand {
    border: 2px solid #aaa;
    padding: 15px;
    font-size: 3em;
    color: #000;
    font-weight: bold;
    text-align: center;
}